@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,h2{
    font-family: sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex{
    display: flex;
}

.flex_space{
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 120px; /* Adjust width as necessary */
    height: auto; /* Maintains aspect ratio */
  }

button{
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.primary-btn{
    padding: 15px 40px;
    background-color: #B8860B;
    font-weight: bold;
    color:white;
    border-radius: 5px;
}

.secondary-btn {
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}
.container {
    max-width: 85%;
    margin: auto;
}

  /* header */

header{
height:10vh;
line-height: 10vh;
padding: 0 20px;
}

header img{
    margin: 10px;
    
}

header ul li{
    display: inline-block;
    text-transform: uppercase;
}

header ul li a{
    color: #000;
    margin: 10px;
    transition: 0.5s;
}

header ul li a:hover{
    color: #B8860B;
}

header i{
    margin:0 20px;
}

header button {
    padding: 13px 40px;
}

header .navlinks span{
    display: none;
}

@media only screen and (max-width:768px){
    header ul{
        position:absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #B8860B;
        overflow: hidden;
        transition: max-height 0.5s;
        text-align: center;
        z-index: 9;
    }
    header ul li {
        display: block;
    }
    
    header ul li a {
        color: white;
    }
    
    header i {
        color: white;
    }
    
    header .navlinks span {
        color: black;
        display: block;
        cursor: pointer;
        line-height: 10vh;
        font-size: 25px;
    }
}

 
/* home */
.home {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .home img {
    width: 100%;
    height: 100vh;
  }
  
  .home .text {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    max-width: 500px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  }


  .home .text h1 {
    font-size: 80px;
    font-family: serif;
    font-weight: 400;
  }
  
  .home p {
    margin: 20px 0;
  }
  
  .home button {
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .primary-btn {
    background-color: #B8860B;
    color: white;
  }


  .secondary-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }

  .secondary-btn:hover{
    background-color: #B8860B;
    color: white;
  }
  
  
  

